<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ABB Reader</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ABB RAPID Module</string>
			<key>UTTypeIdentifier</key>
			<string>com.abb.rapid.module</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mod</string>
					<string>MOD</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ABB RAPID Program</string>
			<key>UTTypeIdentifier</key>
			<string>com.abb.rapid.program</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>prg</string>
					<string>PRG</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ABB System File</string>
			<key>UTTypeIdentifier</key>
			<string>com.abb.rapid.system</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sys</string>
					<string>SYS</string>
				</array>
			</dict>
		</dict>
                <dict>
                        <key>UTTypeConformsTo</key>
                        <array>
                                <string>public.plain-text</string>
                                <string>public.text</string>
                        </array>
                        <key>UTTypeDescription</key>
                        <string>ABB Configuration File</string>
                        <key>UTTypeIdentifier</key>
                        <string>com.abb.rapid.config</string>
                        <key>UTTypeTagSpecification</key>
                        <dict>
                                <key>public.filename-extension</key>
                                <array>
                                        <string>cfg</string>
                                        <string>CFG</string>
                                </array>
                        </dict>
                </dict>
                <dict>
                        <key>UTTypeConformsTo</key>
                        <array>
                                <string>public.plain-text</string>
                                <string>public.text</string>
                        </array>
                        <key>UTTypeDescription</key>
                        <string>ABB RAPID Source Bundle</string>
                        <key>UTTypeIdentifier</key>
                        <string>com.abb.rapid.source</string>
                        <key>UTTypeTagSpecification</key>
                        <dict>
                                <key>public.filename-extension</key>
                                <array>
                                        <string>sio</string>
                                        <string>SIO</string>
                                        <string>ls</string>
                                        <string>LS</string>
                                        <string>backup</string>
                                        <string>rapid</string>
                                        <string>script</string>
                                        <string>cfgx</string>
                                        <string>log</string>
                                        <string>txt</string>
                                </array>
                        </dict>
                </dict>
        </array>
        <key>CFBundleDocumentTypes</key>
        <array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>ABB RAPID Module</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.abb.rapid.module</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>ABB RAPID Program</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.abb.rapid.program</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>ABB System File</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.abb.rapid.system</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>ABB Configuration File</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
                        <key>LSItemContentTypes</key>
                        <array>
                                <string>com.abb.rapid.config</string>
                        </array>
                </dict>
                <dict>
                        <key>CFBundleTypeIconFiles</key>
                        <array/>
                        <key>CFBundleTypeName</key>
                        <string>ABB RAPID Source Bundle</string>
                        <key>LSHandlerRank</key>
                        <string>Owner</string>
                        <key>LSItemContentTypes</key>
                        <array>
                                <string>com.abb.rapid.source</string>
                        </array>
                </dict>
        </array>
</dict>
</plist>
